# DATABASE
BORIS_DATABASE_HOST="{{ boris_database_host | default('localhost') }}"
BORIS_DATABASE_NAME="{{ boris_database_name }}"
BORIS_DATABASE_PASSWORD="{{ boris_database_password }}"


# DJANGO WEB APP
BORIS_SECRET_KEY="{{ boris_app_secret_key }}"
DJANGO_SETTINGS_MODULE="test_boris_project.settings"
